++o  Gnu C                  3.2                     # gcc --version
++o  Gnu make               3.80                    # make --version
++o  binutils               2.12                    # ld -v
++o  util-linux             2.10o                   # fdformat --version
++o  module-init-tools      0.9.10                  # depmod -V
++o  e2fsprogs              1.41.4                  # e2fsck -V
--o  jfsutils               1.1.3                   # fsck.jfs -V
--o  reiserfsprogs          3.6.3                   # reiserfsck -V
++o  xfsprogs               2.6.0                   # xfs_db -V
++o  squashfs-tools         4.0                     # mksquashfs -version
++o  btrfs-progs            0.18                    # btrfsck
--o  mcelog                 004                     # pccardctl -V
++o  quota-tools            3.09                    # quota -V
++o  PPP                    2.4.0                   # pppd --version
++o  isdn4k-utils           3.1pre1                 # isdnctrl 2>&1|grep version
++o  nfs-utils              1.0.5                   # showmount --version
++o  procps                 3.2.0                   # ps --version
++o  oprofile               0.9                     # oprofiled --version
--o  udev                   081                     # udevd --version
--o  grub                   0.93                    # grub --version || grub-install --version
++o  mcelog                 0.6                     # mcelog --version
++o  iptables               1.4.2                   # iptables -V


gcc
---
o  <ftp://ftp.gnu.org/gnu/gcc/>

Make
----
o  <ftp://ftp.gnu.org/gnu/make/>

Binutils
--------
o  <ftp://ftp.kernel.org/pub/linux/devel/binutils/>

System utilities
****************

Util-linux
----------
o  <ftp://ftp.kernel.org/pub/linux/utils/util-linux/>

Ksymoops
--------
o  <ftp://ftp.kernel.org/pub/linux/utils/kernel/ksymoops/v2.4/>

Module-Init-Tools
-----------------
o  <ftp://ftp.kernel.org/pub/linux/kernel/people/rusty/modules/>

Mkinitrd
--------
o  <https://code.launchpad.net/initrd-tools/main>

E2fsprogs
---------
o  <http://prdownloads.sourceforge.net/e2fsprogs/e2fsprogs-1.29.tar.gz>

JFSutils
--------
o  <http://jfs.sourceforge.net/>

Reiserfsprogs
-------------
o  <http://www.kernel.org/pub/linux/utils/fs/reiserfs/>

Xfsprogs
--------
o  <ftp://oss.sgi.com/projects/xfs/>

Pcmciautils
-----------
o  <ftp://ftp.kernel.org/pub/linux/utils/kernel/pcmcia/>

Pcmcia-cs
---------
o  <http://pcmcia-cs.sourceforge.net/>

Quota-tools
----------
o  <http://sourceforge.net/projects/linuxquota/>

DocBook Stylesheets
-------------------
o  <http://nwalsh.com/docbook/dsssl/>

XMLTO XSLT Frontend
-------------------
o  <http://cyberelk.net/tim/xmlto/>

Intel P6 microcode
------------------
o  <http://www.urbanmyth.org/microcode/>

udev
----
o <http://www.kernel.org/pub/linux/utils/kernel/hotplug/udev.html>

FUSE
----
o <http://sourceforge.net/projects/fuse>

mcelog
------
o <ftp://ftp.kernel.org/pub/linux/utils/cpu/mce/>

Networking
**********

PPP
---
o  <ftp://ftp.samba.org/pub/ppp/>

Isdn4k-utils
------------
o  <ftp://ftp.isdn4linux.de/pub/isdn4linux/utils/>

NFS-utils
---------
o  <http://sourceforge.net/project/showfiles.php?group_id=14>

Iptables
--------
o  <http://www.iptables.org/downloads.html>

Ip-route2
---------
o  <ftp://ftp.tux.org/pub/net/ip-routing/iproute2-2.2.4-now-ss991023.tar.gz>

OProfile
--------
o  <http://oprofile.sf.net/download/>

NFS-Utils
---------
o  <http://nfs.sourceforge.net/>
